.readMoreButton, 
#search,
.featured .img,
.featured .thumbs a img,
.featured .thumbs a img.last,
.featured .desc h3 {
	display: inline;
}

.search_input {
	padding-top: 3px;
}

.readMoreButton {
	right: 190px;
}