.readMoreButton, 
#search,
.featured .img,
.featured .thumbs a img,
.featured .thumbs a img.last,
.featured .desc h3,
.top-content ul li,
.sponsors img {
	display: inline;
}

.search_input {
	padding-top: 3px;
}

.readMoreButton {
	right: 190px;
}

h2 span {
	padding: 3px 6px 1px;
}

.readMoreButton {
	margin-top: -35px;
}

.cat li a {
	line-height: 40px;
}

.links, .flickr, .twitter {
	margin-right: 52px;
}

.twitter {
	margin-right: 0;
}

.top-content li a {
	display: inline-block;
}

.top-content li a:hover {
	background: url(img/nav-arrow.gif) no-repeat scroll center bottom transparent;
}