.readMoreButton,#search,.featured .img,.pagination a img,.pagination a img.last,.featured h3,.top-content ul li,.sponsors img{display:inline;}
.top-content li a{display:inline-block;}
.search_input{padding-top:3px;}
.description{margin-top:21px;}
.readMoreButton{right:190px;margin-top:-35px;}
h2 span{padding:3px 6px 1px;}
.cat li a{line-height:40px;}
.links,.flickr,.twitter{margin-right:51px;}
.twitter{margin-right:0;}
article, aside, canvas, figure, figure img, figcaption, hgroup,footer, header, nav, section, audio, video {display: block;}
