/* ----------------- Resets ----------------  */

* { margin: 0; padding: 0; outline: 0; }

img {
  border: 0;
}

html {
	background-color: #ededed;
	width: 100%;
	height: 100%;
}

body {  
  font: 15px/23px Arial, sans-serif;
  color: #1a1e27;
}

.notext, .notext-footer { font-size: 0; line-height: 0; text-indent: -4000px; background-repeat: no-repeat; }


/* ----------------- Fonts ----------------  */

h3 a {
	color: #1a1e27;
	font-size: 25px;
	text-decoration: none;
}

h4 {
	color: #646464;
	font-size: 20px;
	margin-bottom: -5px;
}

.author em {
	font: italic 15px Georgia, serif;
	color: #646464;
	margin-top: -3px;
}

.cat-date a, .readMore a {
	font: italic 14px/20px Georgia, serif;
	color: #646464;
	text-decoration: none;
}


/* ----------------- Layout ----------------  */

.top-content, .logo, .featured, #content, .footer-content, #bottom {
	margin: 0 auto;
	width: 950px;
}

.main {
	width: 550px;
	float: left;
}

.sidebar {
	width: 350px;
	float: right;
}

#content, .featured, #footer, #bottom {
	clear: both;
}

#footer {
	background: #1a1e27 url(img/footer-bg.jpg) repeat-x 0 0;
}

#footer, #bottom {
	border-top: 1px solid #fff;
}




/* ----------------- Txt ----------------  */

h2.notext { height: 32px; margin-bottom: 25px; }
h2.notext-footer { height: 38px; }

h2.txt-latest { background-image: url(img/txt-latest-from-blog.gif) }
h2.txt-author { background-image: url(img/txt-about-author.gif) }
h2.txt-sponsors { background-image: url(img/txt-sponsors.gif) }
h2.txt-categories { background-image: url(img/txt-categories.gif); margin-bottom: 16px; }

h2.txt-latest,
h2.txt-author,
h2.txt-sponsors,
h2.txt-categories {
	margin-top: 50px;
}

h2.txt-links { background-image: url(img/txt-links.png) }
h2.txt-flickr { background-image: url(img/txt-flickr.png) }
h2.txt-twitter { background-image: url(img/txt-twitter.png) }



/* ----------------- Top ----------------  */

.top {
  background: url(img/top-bg.gif) repeat-x 0 0 transparent;
  color: #fff;
  position: relative;
  height: 71px;
}

.top-content ul {
	display: block;
	float: left;
	width: 340px;
	height: 42px;
	background: url(img/nav.gif) no-repeat 0 0;
	margin-top: 29px;
}

.top-content li {
	list-style: none;
	float: left;
	text-indent: -9999px;
}

	#home { width: 43px; }
	#about { width: 71px; }
	#services { width: 61px; }
	#portfolio { width: 65px; }
	#blog { width: 39px; }
	#contact { width: 61px; }
	
	.top-content li a {
		display: block;
		height: 42px;
	}

		#home a:hover, .top-content li.selected {
			background: url(img/nav.gif) 0 -42px no-repeat;
		}
	
		#about a:hover {
			background: url(img/nav.gif) -43px -42px no-repeat;
		}
	
		#services a:hover {
			background: url(img/nav.gif) -114px -42px no-repeat;
		}
	
		#portfolio a:hover {
			background: url(img/nav.gif) -175px -42px no-repeat;
		}
		
		#blog a:hover {
			background: url(img/nav.gif) -240px -42px no-repeat;
		}
		
		#contact a:hover {
			background: url(img/nav.gif) -279px -42px no-repeat;
		}

.block {
	float: right;
	height: 71px;
	position: relative;
}

.block a {
	position: absolute;
	right: 221px;
	display: block;
	height: 71px;
	line-height: 71px;
	text-indent: -9999px;
	background: url(img/feed.gif) no-repeat 0 0 transparent;
	width: 127px;
	height: 21px;
	margin-top: 25px;
}

#search {
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	width: 169px;
	background: url(img/search-bg.gif) no-repeat 0 0 transparent;
	height: 41px;
	padding-left: 35px;
	margin-top: 14px;
	margin-left: 17px;
}

	.search_input {
		background: none repeat scroll 0 0 transparent;
		border: 0 none;
		color: #1a1e27;
		display: inline;
		font: italic 15px Arial, sans-serif;
		height: 24px;
		margin-top: 7px;
		text-transform: lowercase;
		width: 144px;
		}

	.search_submit {
		display: inline;
		background: url(img/search-arrow.gif) no-repeat scroll 0 0 transparent;
		width: 15px;
		height: 17px;
		font-size: 0;
		text-indent: -9999px;
		border: 0;
		cursor: pointer;
		padding-top: 7px;
		}



/* ----------------- Logo ----------------  */

.logo {
	height: 148px;
	overflow: hidden;
}

.logo img {
	margin: 62px 22px auto 42px;
	float: left;
}

.logo p {
	margin-top: 67px;
	width: 229px;
	float: left;
	font: italic 15px/17px Georgia, serif;
	color: #646464;
}




/* ----------------- Featured ----------------  */

.featured {
	height: 248px;
}

.featured .img {
	position: relative;
	margin-left: 1px;
}

.featured .desc {
	background-color: #1d1f25;
	width: 316px;
	height: 208px;
	padding: 21px 15px 19px;
}

.featured .img, 
.featured .desc {
	float: left;
}

.featured .thumbs {
	padding: 20px 13px 19px;
	border-top: 1px solid #393939;
	height: 61px;
}

.featured .thumbs a img {
	margin-right: 31px; /* PSD 38px */
}

.featured .thumbs a img.last {
	margin-right: 0;
}

.featured .desc h3, .featured .desc p {
	padding: 0 13px;
}

.featured .desc h3 {
	margin-bottom: 7px; /*PSD 18px*/
}

.featured .desc p {
	margin-bottom: 18px; /*PSD 25px*/
	line-height: 23px;
}


.featured .button a {
	position: absolute;
	left: 1px;
	bottom: 20px;
	background: url(img/hireUsButton.gif) no-repeat 0 0 transparent;
	display: block;
	text-indent: -9999px;
	width: 107px;
	height: 37px;
}

.desc h3 {
	font-size: 30px;
}

.desc h3, .desc p {
	color: #ededed;
}



/* ----------------- Content ----------------  */

.post {
	margin-bottom: 46px; /* PSD 50px */
}

.post h3 a {
	margin-top: 25px;
}

span.sep {
	text-indent: -4000px; /* not working with any text there, why? */
	background: url(img/sep.gif) no-repeat center top;
}

.cat-date {
	margin-bottom: 10px;
}

.post img {
	float: left;
	margin: 0 11px 11px 0;
}

.post-teaser {
	padding: 0 0 0 161px;
}

.post-teaser p {
	margin-bottom: 9px;
	line-height: 23px;
}

.readMore {
	border-top: 1px solid #bdbdbd;
	line-height: 17px;
	padding-top: 9px;
	position: relative;
}

.readMoreButton {
	text-indent: -9999px;
	background: url(img/readMoreButton.gif) no-repeat;
	width: 110px;
	height: 29px;
	float: right;
	cursor: pointer;
	border: none;
	position: absolute;
	right: 0;
	top: 15px;
}



/* ----------------- Sidebar ----------------  */


.author img {
	float: left;
	margin: 0 10px 10px 0;
}

.sponsors {
	height: 166px;
}

.sponsors img {
	margin-right: 13px;
}

.sponsors img.last {
	margin-right: 0;
}

.cat li {
	list-style: none;
}

.cat li a {
	text-decoration: none;
	color: #1a1e27;
	background: url(img/cat-arrow.gif) no-repeat left center transparent;
	padding-left: 23px;
	font-size: 16px;
	line-height: 42px;
}

.cat li a:hover {
	text-decoration: underline;
}





/* ----------------- Footer ----------------  */

#footer {
	overflow: hidden;
	height: 288px;
	border-top: 1px solid #fff;
}

.footer-content {
	padding-top: 28px;
}

.footer-content h2 {
	margin-bottom: 17px; /*PSD 22px*/
}

.links, .flickr, .twitter {
	float: left;
	width: 281px;
	margin-right: 53px;
}

.twitter {
	margin-right: 0;
}

.links li {
	padding: 0;
	margin: 0;
}

.links li a {
	text-decoration: none;
	color: #ededed;
	font-size: 15px;
	line-height: 29px;
}

.flickr a img {
	margin-right: 10px;
}

.twitter {
	background: url(img/twitter.png) no-repeat scroll 100% bottom transparent;
}


.twitter p, .twitter a {
	color: #ededed;
}

.twitter a {
	text-decoration: none;
}

.twitter h4 a {
	color: #818181;
	font-size: 20px;
}

.twitter em {
	font: italic 15px Georgia, serif;
}

/* ----------------- Bottom ----------------  */

#bottom {
	height: 70px;
}

#bottom ul {
	float:left;
}

#bottom li {
	float:left;
	list-style:none;
}

#bottom li a {
	text-decoration:none;
	color: #1a1e27;
}

#bottom li.selected a, #bottom li a:hover, #bottom p a {
	text-decoration:none;
	color: #646464;
}


#bottom p {
	float:right;
}

#bottom ul, #bottom p {
	line-height: 70px;
}










