/*-----------------Resets----------------*/
*{margin:0;outline:0;padding:0;}
body{background-color:#ededed;color:#1a1e27;font:15px/23pxArial,sans-serif;}
img{border:0;}
.notext,.notext-footer{background-repeat:no-repeat;font-size:0;line-height:0;text-indent:-9999px;}
/*-----------------Fonts----------------*/
h2.cufon-h2{color:#ffffff;font-size:26px;font-weight:bold;margin:50px025px;text-transform:uppercase;}
h2span{background-color:#1a1e27;padding:1px6px;text-align:center;}
h2.cufon-h2-footer{color:#ffffff;font-size:22px;font-weight:bold;text-transform:uppercase;}
h3a{color:#1a1e27;font-size:25px;font-weight:normal;text-decoration:none;}
h4{color:#646464;font-size:20px;font-weight:normal;margin-bottom:-5px;}
.authorem{color:#646464;font:italic15pxGeorgia,serif;margin-top:-3px;}
.cat-datea,.readMorea{color:#646464;font:italic14px/20pxGeorgia,serif;text-decoration:none;}
/*-----------------Layout----------------*/
.top{background:transparenturl(img/top-bg.gif)repeat-x;color:#fff;height:71px;position:relative;}
.top-content,
.logo,
.featured,
#content,
.footer-content,
#bottom{margin:0auto;width:950px;}
.main{float:left;width:550px;}
.sidebar{float:right;width:350px;}
#content,.featured,#footer,#bottom{clear:both;}
#footer{background:#1a1e27url(img/footer-bg.jpg)repeat-x00;}
#footer{border-bottom:1pxsolid#fff;border-top:1pxsolid#fff;}
/*-----------------Top----------------*/
.top-contentul{display:block;float:left;height:42px;margin-top:29px;}
.top-contentli{display:inline;float:left;height:42px;height:42px;line-height:14px;list-style:none;margin:07px;}
.top-contentli.first{margin-left:0;}
.top-contentlia{color:white;cursor:pointer;display:block;height:42px;text-decoration:none;}
.top-contentli.selected,.top-contentlia:hover{background:url(img/nav-arrow.gif)no-repeatscrollcenterbottomtransparent;}
.block{float:right;height:71px;position:relative;}
.blocka{background:url(img/feed.gif)no-repeat00transparent;display:block;height:21px;height:71px;line-height:71px;margin-top:25px;position:absolute;right:221px;text-indent:-9999px;width:127px;}
#search{background:url(img/search-bg.gif)no-repeat00transparent;float:right;height:41px;margin-left:17px;margin-top:14px;padding-left:35px;position:absolute;right:0;top:0;width:169px;}
.search_input{background:nonerepeatscroll00transparent;border:0none;color:#1a1e27;display:inline;font:italic15pxArial,sans-serif;height:24px;margin-top:7px;text-transform:lowercase;width:144px;}
.search_submit{background:url(img/search-arrow.gif)no-repeatscrollcentertoptransparent;border:0;cursor:pointer;font-size:0;height:17px;position:absolute;right:7px;text-indent:-9999px;top:12px;width:15px;}
/*-----------------Logo----------------*/
.logo{height:148px;overflow:hidden;}
.logoimg{float:left;margin:62px22pxauto42px;}
.logop{color:#646464;float:left;font:italic15px/17pxGeorgia,serif;margin-top:67px;width:229px;}
/*-----------------Featured----------------*/
.featured{height:248px;overflow:hidden;}
.featured.img{margin-left:1px;position:relative;}
.featured.desc{background-color:#1d1f25;height:208px;overflow:hidden;padding:21px15px19px;width:316px;}
.featured.img,
.featured.desc{float:left;}
.featured.thumbs{border-top:1pxsolid#393939;height:61px;padding:20px13px19px;}
.featured.thumbsaimg{margin-right:31px;/*PSD38px*/}
.featured.thumbsaimg.last{margin-right:0;}
.featured.desch3,.featured.descp{font-weight:normal;padding:013px;}
.featured.desch3{margin-bottom:7px;/*PSD18px*/}
.featured.descp{line-height:23px;margin-bottom:18px;/*PSD25px*/}
.featured.buttona{background:url(img/hireUsButton.gif)no-repeat00transparent;bottom:20px;display:block;height:37px;left:1px;position:absolute;text-indent:-9999px;width:107px;}
.desch3{font-size:30px;}
.desch3,.descp{color:#ededed;}
/*-----------------Content----------------*/
.post{margin-bottom:40px;/*PSD50px*/}
span.sep{background:url(img/sep.gif)no-repeatcentertop;text-indent:-9999px;}
.cat-date{margin-bottom:10px;}
.post-teaser{overflow:hidden;}
.post-teaserimg{border:1pxsolid#cacaca;float:left;margin:011px11px0;padding:3px;}
.post-teaser.text{padding-left:160px;}
.post-teaser.textp{line-height:23px;margin-bottom:9px;}
.readMore{border-top:1pxsolid#bdbdbd;line-height:17px;padding-top:9px;}
.readMoreButton{background:url(img/readMoreButton.gif)no-repeat;border:0none;cursor:pointer;float:right;height:29px;margin-top:-15px;width:110px;}
/*-----------------Sidebar----------------*/
.authorimg{border:1pxsolid#cacaca;float:left;margin:010px10px0;padding:3px;}
.sponsors{height:166px;}
.sponsorsimg{margin-right:13px;border:1pxsolid#fff;}
.sponsorsimg.last{margin-right:0;}
.catli{list-style:none;}
.catlia{background:url(img/cat-arrow.gif)no-repeatleftcentertransparent;color:#1a1e27;font-size:16px;line-height:42px;padding-left:23px;text-decoration:none;}
.catlia:hover{text-decoration:underline;}
/*-----------------Footer----------------*/
h2.notext-footer{height:38px;}
h2.txt-links{background-image:url(img/txt-links.png)}
h2.txt-flickr{background-image:url(img/txt-flickr.png)}
h2.txt-twitter{background-image:url(img/txt-twitter.png)}
#footer{height:288px;overflow:hidden;}
.footer-content{padding-top:28px;}
.footer-contenth2{margin-bottom:17px;/*PSD22px*/}
.links,.flickr,.twitter{float:left;margin-right:53px;width:281px;}
.twitter{margin-right:0;}
.linksli{margin:0;padding:0;}
.linkslia{color:#ededed;font-size:15px;line-height:29px;text-decoration:none;}
.flickraimg{border:3pxsolid#646464;margin-right:10px;}
.twitter{background:url(img/twitter.png)no-repeatscroll100%bottomtransparent;}
.twitterp,.twittera{color:#ededed;}
.twittera{text-decoration:none;}
.twitterh4a{color:#818181;font-size:20px;}
.twitterem{font:italic15pxGeorgia,serif;}
/*-----------------Bottom----------------*/
#bottom{height:70px;}
#bottomul{float:left;}
#bottomli{float:left;list-style:none;}
#bottomlia{color:#1a1e27;text-decoration:none;}
#bottomli.selecteda,#bottomlia:hover,#bottompa{color:#646464;text-decoration:none;}
#bottomp{float:right;}
#bottomul,#bottomp{line-height:70px;}