/* SPYRESTUDIOS style */

html {
	background-color: #F1F1F1;
}
body {
	padding: 10px;
	width: 675px;
	margin: 0 auto;
	font-family: Georgia, 'Time New Romans', serif;
	font-size: 16px;
	color: black;
	line-height: 23px;
}
h1,h2,h3,h4,h5 {
	color: black;
	font-family: helvetica, arial, sans-serif;
	color: #CC5639;
	text-shadow: white 1px 1px 0px;
}

h2 {
	color: black;
	font-size: 44px;
	line-height: 50px;
	text-shadow: #CCC 1px 1px 0px;
	padding-bottom: 14px;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	padding-top: 20px;
	text-shadow: white 1px 1px 0px;
}

span.step {
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-top: 30px;
	color: #333;
}
span.todo {
	background-color: #f67f00;
	color: white;
	padding: 10px;
	-moz-border-radius: 5px;
	-wenkit-border-radius: 5px;
	border-radius: 5px;
	font-style: italic;
}

a {
	color: #CC5639;
	border-bottom: 1px solid #CCC;
	text-decoration: none;
}

a:hover {
	color: black;
	border-bottom: 1px solid black;
}

img {
	border: 0 none;
	margin-bottom: 10px;
}

p.bigger {
	font-family: helvetica, arial, sans-serif;
	font-size: 22px;
	line-height: 28px;
	margin-top: 10px;
	padding-bottom: 11px;
	padding-top: 11px;
	text-shadow: white 1px 1px 0px;
}

p.important {
	background-color: #ddd;
	padding: 10px;
	-moz-border-radius: 5px;
	-wenkit-border-radius: 5px;
	border-radius: 5px;
	font-style: italic;
}

abbr {
	border-bottom: .1em dotted #CCC;
}

.al {
	text-align: left;
}

tt {
	font-weight: bold;
}